# Configuration de l'API
HOSTNAME=your-hostname
PORT=your-port # only numbers here

# Configuration de la base de données
MONGODB_USER=your-username
MONGODB_PASSWORD=your-password
MONGODB_CLIENT_NAME=your-client-name
MONGODB_DATABASE_NAME=your-database-name
MONGODB_COLLECTION_NAME=your-collection-name
